<a href="https://colab.research.google.com/github/BobBriksz/DS-Assignment-Submission-Practice-Repository/blob/master/Robert_Briksza_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Learning Objectives

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# Let's continue to explore feature engineering with the Ames Housing data.  Import the dataset and name it "house".

###1) Import the Ames Housing Data here: https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv

In [88]:
#Code here
import pandas as pd
house = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

###2) Print the first five rows of the house dataset.

In [89]:
#Code here
house.head(5)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

###3) Create a new variable called Large_Lot that takes on the value 1 when LotArea is gerater than or equal to 10,000 and the value 0 when LotArea is less than 10,000.

In [90]:
#Code here
house['LotArea']

def large_area(cell_contents):
  if cell_contents >= 10000:
    return 1
  else:
    return 0
house['Large_lot'] = house['LotArea'].apply(large_area)

###4) Create a new variable called Total_Bathrooms that contains the total number of full and half bathrooms in the house.

In [91]:
#Code here
house['Total_Bathrooms'] = house['BsmtFullBath'] + house['BsmtHalfBath'] + house['FullBath'] +house['HalfBath']

###5) Create a new variable called Summer_Sale that equals 1 if the sale month was in June, July or August ( MoSold = 6, 7 or 8) and 0 if the sale month was in September - May.

In [100]:
#code here
house.loc[(house['MoSold'] >= 6) & (house['MoSold']<= 8), 'Summer_sale'] = 1
house.loc[(house['MoSold'] < 6) | (house['MoSold'] > 8), 'Summer_sale'] = 0
house['Summer_sale'].head(10)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
7    0.0
8    0.0
9    0.0
Name: Summer_sale, dtype: float64

#Now we'll revisit the LendingClub data.

Remember to import the data by first unzipping the file:

In [33]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-09-29 19:15:58--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 44.239.121.150, 54.148.13.215, 54.244.115.45
Connecting to resources.lendingclub.com (resources.lendingclub.com)|44.239.121.150|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  22.28M  2.06MB/s    in 11s

2020-09-29 19:16:10 (2.03 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23360898]

In [34]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [55]:
# Read in the CSV
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

#Approaching a problem two different ways.

In the guided project, we learned how to find the earliest credit year using the built-in pandas date-time format.  However, there is often more than one way to come up with the same solution.


In the following questions we will work through the steps to create a new variables called Earliest_Credit_Year and issue_year where we use the .split() function remove the month report back just the year as a float data type.  Then we'll use those variables to calculate the length of credit history in years.

If we do everything correctly, we should calculate *about* the same length of longest credit history that we did in class working with the date-time format.  The answers won't exactly match because we are making different assumptions about when in each month and year the loans were taken out, but it will give you a flavor for different ways of approaching the same problem.

###6) Create a simple test case where credit = 'Jun-1979'.  

Use the .split('-') function to separate the month and year parts of the data and print the year.

Hint: Name the results of the .split('-') function "fields".  fields[0] will return the month part of the date and fields[1] will return the year part of the date.

In [50]:
#code here
credit = 'Jun-1979'
x = credit.split('-')
x[1]

'1979'

###7) Use your answer in 6) to write a function called credit_yr that takes in the contents of a cell formatted 'month-year' and returns the year.

Run your function using the simple test case in 6).

In [68]:
#Code here
def credit_yr(cell_contents):
    fields= cell_contents.split('-')
    return int(fields[1])
credit_yr(credit)

1979

###8) Use the .apply() function to apply the function to every cell in the earliest_cr_line variable.

In [71]:
#code here
df['earliest_cr_yr'] = df['earliest_cr_line'].apply(credit_yr)
df['earliest_cr_yr']

0         1995
1         2007
2         1987
3         1997
4         2005
          ...
128407    1985
128408    1982
128409    2006
128410    2008
128411    2006
Name: earliest_cr_yr, Length: 128412, dtype: int64

###9) Print the top 5 rows of the Earliest_Credit_Year and earliest_cr_line variables to make sure the variables were created correctly.

In [72]:
#code here
print(df['earliest_cr_yr'].head(5))
df['earliest_cr_line'].head(5)

0    1995
1    2007
2    1987
3    1997
4    2005
Name: earliest_cr_yr, dtype: int64

0    Jul-1995
1    May-2007
2    Jul-1987
3    Oct-1997
4    May-2005
Name: earliest_cr_line, dtype: object

### 10) Use your function to create a new variable called Issue_Year from the issue_d variable.

In [73]:
#code here

df['issue_year'] = df['issue_d'].apply(credit_yr)
df['issue_year'].head(500)

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
495    2018
496    2018
497    2018
498    2018
499    2018
Name: issue_year, Length: 500, dtype: int64

###11) Caluculate length of credit history in years and in days.

Hint: If you are getting an error message, make sure to check the data type of the years output by your functions.

In [75]:
#Code here
df['len_cr_yr'] = (df['issue_year'] - df['earliest_cr_yr']) 
df['len_cr_d'] = (df['issue_year'] - df['earliest_cr_yr'])*365
print(df['len_cr_yr'])
df['len_cr_d']

0         23
1         11
2         31
3         21
4         13
          ..
128407    33
128408    36
128409    12
128410    10
128411    12
Name: len_cr_yr, Length: 128412, dtype: int64

0          8395
1          4015
2         11315
3          7665
4          4745
          ...
128407    12045
128408    13140
128409     4380
128410     3650
128411     4380
Name: len_cr_d, Length: 128412, dtype: int64

###12) Calculate the maximum credit length and compare it to we got in the guided project.  

Note - it won't be *exactly* the same because both methods are working in different ways, but they will give you a "pretty close" answer.

In [76]:
#code here
df['len_cr_yr'].max()

68

#Portfolio Project Assignment

Start looking for interesting datasets!  

Pretty much every major US governmental agency (CDC, Bureau of Labor Statistics, The Census, etc.) maintains a treasure trove of data.

There's also:

Datasets from the University of Florida Department of Statistics: http://users.stat.ufl.edu/~winner/datasets.html

Pew Research: https://www.pewresearch.org/

General Social Survey: https://gss.norc.org/

Ancestry.com Free data collections: https://www.ancestry.com/search/categories/freeindexacom/?clickref=1101lbhdWxys&key=Uhttps%3A%2F%2Fwww.ancestry.com%2Fsearch%2Fcategories%2Ffreeindexacom%2F%3Fclickref%3D1101lbhdWxys&o_lid=01011l4pVw&o_sch=Affiliate+External&o_xid=01011l4pVw

Popular baby names by year since the founding of the SSA: https://www.babynamewizard.com/ 


https://data.world/

https://www.kaggle.com/datasets

https://catalog.data.gov/dataset

https://datasetsearch.research.google.com/

https://archive.ics.uci.edu/ml/index.php

https://github.com/plotly/datasets

https://lionbridge.ai/datasets/20-best-image-datasets-for-computer-vision/

https://www.visualdata.io/

https://pathmind.com/wiki/open-datasets

https://blog.playment.io/top-open-image-dataset/

https://blog.cambridgespark.com/

https://www.analyticsvidhya.com/blog/2018/03/

https://data-flair.training/blogs/machine-learning-datasets/